In [ ]:
pip install xlwings

Collecting xlwings
  Downloading xlwings-0.30.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 7.1 MB/s eta 0:00:00
Installing collected packages: xlwings
Successfully installed xlwings-0.30.10

In [ ]:
import pandas as pd
import openpyxl
import xlwings as xw

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/TXN_original.xlsx')

In [ ]:
df.head(52)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Powered by Clearbit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Texas Instruments Inc. (NMS: TXN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Exchange rate used is that of the Year End rep...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Standardized Annual Balance Sheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Report Date,12/31/2021,NaN,12/31/2020,NaN,12/31/2019,NaN,12/31/2018,NaN,12/31/2017
10,Currency,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD
11,Audit Status,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified,NaN,Not Qualified
12,Consolidated,Yes,NaN,Yes,NaN,Yes,NaN,Yes,NaN,Yes
13,Scale,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands,NaN,Thousands
14,Cash & Equivalents,4631000,NaN,3107000,NaN,2437000,NaN,2438000,NaN,1656000
15,Short Term Investments,5108000,NaN,3461000,NaN,2950000,NaN,1795000,NaN,2813000
16,Cash & Equivs & ST Investments,9739000,NaN,6568000,NaN,5387000,NaN,4233000,NaN,4469000
17,Receivables (ST),1701000,NaN,1414000,NaN,1074000,NaN,1207000,NaN,1278000
18,Inventories,1910000,NaN,1955000,NaN,2001000,NaN,2217000,NaN,1957000
19,Other Current Assets,335000,NaN,302000,NaN,299000,NaN,440000,NaN,1030000
20,Total Current Assets,13685000,NaN,10239000,NaN,8761000,NaN,8097000,NaN,8734000
21,Gross Property Plant & Equip,7858000,NaN,5781000,NaN,5740000,NaN,5425000,NaN,4789000
22,Accumulated Depreciation,2717000,NaN,2512000,NaN,2437000,NaN,2242000,NaN,2125000
23,Net Property Plant & Equip,5141000,NaN,3269000,NaN,3303000,NaN,3183000,NaN,2664000
24,Long Term Investments,-,NaN,49000,NaN,300000,NaN,251000,NaN,268000
25,Intangible Assets,4447000,NaN,4636000,NaN,4771000,NaN,5079000,NaN,5418000
26,Deferred LT Assets,263000,NaN,343000,NaN,197000,NaN,295000,NaN,264000
27,Other Assets,1140000,NaN,815000,NaN,686000,NaN,232000,NaN,294000
28,Total Assets,24676000,NaN,19351000,NaN,18018000,NaN,17137000,NaN,17642000
29,Accounts Payable & Accrued Exps,1428000,NaN,1182000,NaN,1102000,NaN,1202000,NaN,1188000
30,Accounts Payable,653000,NaN,415000,NaN,388000,NaN,478000,NaN,466000
31,Accrued Expenses,775000,NaN,767000,NaN,714000,NaN,724000,NaN,722000
32,Current Debt,500000,NaN,550000,NaN,500000,NaN,749000,NaN,500000
33,Other Current Liabilities,641000,NaN,658000,NaN,521000,NaN,523000,NaN,570000
34,Total Current Liabilities,2569000,NaN,2390000,NaN,2123000,NaN,2474000,NaN,2258000
35,LT Debt & Leases,7241000,NaN,6248000,NaN,5303000,NaN,4319000,NaN,3577000
36,Deferred LT Liabilities,87000,NaN,90000,NaN,78000,NaN,42000,NaN,78000
37,Minority Interests,0,NaN,0,NaN,0,NaN,0,NaN,0
38,Other Liabilities,1446000,NaN,1436000,NaN,1607000,NaN,1308000,NaN,1392000
39,Total Liabilities,11343000,NaN,10164000,NaN,9111000,NaN,8143000,NaN,7305000
40,Common Share Capital,1741000,NaN,1741000,NaN,1741000,NaN,1741000,NaN,1741000
41,Additional Paid-In Capital,2630000,NaN,2333000,NaN,2110000,NaN,1950000,NaN,1776000
42,Retained Earnings,45919000,NaN,42051000,NaN,39898000,NaN,37906000,NaN,34662000
43,Accum Other Comprehensive Income,-157000,NaN,-360000,NaN,-347000,NaN,-473000,NaN,-384000
44,Treasury Stock,36800000,NaN,36578000,NaN,34495000,NaN,32130000,NaN,27458000
45,Other Equity,0,NaN,0,NaN,0,NaN,0,NaN,0
46,Total Equity,13333000,NaN,9187000,NaN,8907000,NaN,8994000,NaN,10337000
47,Total Liabilities & Equity,24676000,NaN,19351000,NaN,18018000,NaN,17137000,NaN,17642000
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Standardized Annual Income Statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Report Date,12/31/2021,NaN,12/31/2020,NaN,12/31/2019,NaN,12/31/2018,NaN,12/31/2017
51,Currency,USD,NaN,USD,NaN,USD,NaN,USD,NaN,USD

In [ ]:
df=df.fillna(0)

In [ ]:
df = df[df["Unnamed: 0"] !=0]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
2,Powered by Clearbit,0,0.0,0,0.0,0,0.0,0,0.0,0
3,Texas Instruments Inc. (NMS: TXN),0,0.0,0,0.0,0,0.0,0,0.0,0
5,Exchange rate used is that of the Year End rep...,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Standardized Annual Balance Sheet,0,0.0,0,0.0,0,0.0,0,0.0,0
9,Report Date,12/31/2021,0.0,12/31/2020,0.0,12/31/2019,0.0,12/31/2018,0.0,12/31/2017
...,...,...,...,...,...,...,...,...,...,...
178,Extraordinary Items %TR,0,0.0,0,0.0,0,0.0,0,0.0,0
179,Accounting Changes %TR,0,0.0,0,0.0,0,0.0,0,0.0,0
180,Net Income %TR,42.352,0.0,38.69,0.0,34.881,0.0,35.352,0.0,24.611
181,Preference Dividends & Similar %TR,-0.18,0.0,-0.187,0.0,-0.222,0.0,-0.272,0.0,-0.227
182,Net Income to Common %TR,42.172,0.0,38.504,0.0,34.659,0.0,35.08,0.0,24.383

In [ ]:
df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
2,Powered by Clearbit,0,0.0,0,0.0,0,0.0,0,0.0,0
3,Texas Instruments Inc. (NMS: TXN),0,0.0,0,0.0,0,0.0,0,0.0,0
5,Exchange rate used is that of the Year End rep...,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Standardized Annual Balance Sheet,0,0.0,0,0.0,0,0.0,0,0.0,0
9,Report Date,12/31/2021,0.0,12/31/2020,0.0,12/31/2019,0.0,12/31/2018,0.0,12/31/2017
10,Currency,USD,0.0,USD,0.0,USD,0.0,USD,0.0,USD
11,Audit Status,Not Qualified,0.0,Not Qualified,0.0,Not Qualified,0.0,Not Qualified,0.0,Not Qualified
12,Consolidated,Yes,0.0,Yes,0.0,Yes,0.0,Yes,0.0,Yes
13,Scale,Thousands,0.0,Thousands,0.0,Thousands,0.0,Thousands,0.0,Thousands
14,Cash & Equivalents,4631000,0.0,3107000,0.0,2437000,0.0,2438000,0.0,1656000
15,Short Term Investments,5108000,0.0,3461000,0.0,2950000,0.0,1795000,0.0,2813000
16,Cash & Equivs & ST Investments,9739000,0.0,6568000,0.0,5387000,0.0,4233000,0.0,4469000
17,Receivables (ST),1701000,0.0,1414000,0.0,1074000,0.0,1207000,0.0,1278000
18,Inventories,1910000,0.0,1955000,0.0,2001000,0.0,2217000,0.0,1957000
19,Other Current Assets,335000,0.0,302000,0.0,299000,0.0,440000,0.0,1030000
20,Total Current Assets,13685000,0.0,10239000,0.0,8761000,0.0,8097000,0.0,8734000
21,Gross Property Plant & Equip,7858000,0.0,5781000,0.0,5740000,0.0,5425000,0.0,4789000
22,Accumulated Depreciation,2717000,0.0,2512000,0.0,2437000,0.0,2242000,0.0,2125000
23,Net Property Plant & Equip,5141000,0.0,3269000,0.0,3303000,0.0,3183000,0.0,2664000
24,Long Term Investments,-,0.0,49000,0.0,300000,0.0,251000,0.0,268000
25,Intangible Assets,4447000,0.0,4636000,0.0,4771000,0.0,5079000,0.0,5418000
26,Deferred LT Assets,263000,0.0,343000,0.0,197000,0.0,295000,0.0,264000
27,Other Assets,1140000,0.0,815000,0.0,686000,0.0,232000,0.0,294000
28,Total Assets,24676000,0.0,19351000,0.0,18018000,0.0,17137000,0.0,17642000
29,Accounts Payable & Accrued Exps,1428000,0.0,1182000,0.0,1102000,0.0,1202000,0.0,1188000
30,Accounts Payable,653000,0.0,415000,0.0,388000,0.0,478000,0.0,466000
31,Accrued Expenses,775000,0.0,767000,0.0,714000,0.0,724000,0.0,722000
32,Current Debt,500000,0.0,550000,0.0,500000,0.0,749000,0.0,500000
33,Other Current Liabilities,641000,0.0,658000,0.0,521000,0.0,523000,0.0,570000
34,Total Current Liabilities,2569000,0.0,2390000,0.0,2123000,0.0,2474000,0.0,2258000
35,LT Debt & Leases,7241000,0.0,6248000,0.0,5303000,0.0,4319000,0.0,3577000
36,Deferred LT Liabilities,87000,0.0,90000,0.0,78000,0.0,42000,0.0,78000
37,Minority Interests,0,0.0,0,0.0,0,0.0,0,0.0,0
38,Other Liabilities,1446000,0.0,1436000,0.0,1607000,0.0,1308000,0.0,1392000
39,Total Liabilities,11343000,0.0,10164000,0.0,9111000,0.0,8143000,0.0,7305000
40,Common Share Capital,1741000,0.0,1741000,0.0,1741000,0.0,1741000,0.0,1741000
41,Additional Paid-In Capital,2630000,0.0,2333000,0.0,2110000,0.0,1950000,0.0,1776000
42,Retained Earnings,45919000,0.0,42051000,0.0,39898000,0.0,37906000,0.0,34662000
43,Accum Other Comprehensive Income,-157000,0.0,-360000,0.0,-347000,0.0,-473000,0.0,-384000
44,Treasury Stock,36800000,0.0,36578000,0.0,34495000,0.0,32130000,0.0,27458000
45,Other Equity,0,0.0,0,0.0,0,0.0,0,0.0,0
46,Total Equity,13333000,0.0,9187000,0.0,8907000,0.0,8994000,0.0,10337000
47,Total Liabilities & Equity,24676000,0.0,19351000,0.0,18018000,0.0,17137000,0.0,17642000
49,Standardized Annual Income Statement,0,0.0,0,0.0,0,0.0,0,0.0,0
50,Report Date,12/31/2021,0.0,12/31/2020,0.0,12/31/2019,0.0,12/31/2018,0.0,12/31/2017
51,Currency,USD,0.0,USD,0.0,USD,0.0,USD,0.0,USD
52,Audit Status,Not Qualified,0.0,Not Qualified,0.0,Not Qualified,0.0,Not Qualified,0.0,Not Qualified
53,Consolidated,Yes,0.0,Yes,0.0,Yes,0.0,Yes,0.0,Yes
54,Scale,Thousands,0.0,Thousands,0.0,Thousands,0.0,Thousands,0.0,Thousands
55,Total Revenue,18344000,0.0,14461000,0.0,14383000,0.0,15784000,0.0,14961000

In [ ]:
# Drops all the columns, if we dont remove the NaN columns
c = ['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8',]
df.drop(columns=c, inplace=True)

<ipython-input-9-9e285c909c2c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=c, inplace=True)

In [ ]:
# Reset the index
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9
0,Powered by Clearbit,0,0,0,0,0
1,Texas Instruments Inc. (NMS: TXN),0,0,0,0,0
2,Exchange rate used is that of the Year End rep...,0,0,0,0,0
3,Standardized Annual Balance Sheet,0,0,0,0,0
4,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
5,Currency,USD,USD,USD,USD,USD
6,Audit Status,Not Qualified,Not Qualified,Not Qualified,Not Qualified,Not Qualified
7,Consolidated,Yes,Yes,Yes,Yes,Yes
8,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
9,Cash & Equivalents,4631000,3107000,2437000,2438000,1656000
10,Short Term Investments,5108000,3461000,2950000,1795000,2813000
11,Cash & Equivs & ST Investments,9739000,6568000,5387000,4233000,4469000
12,Receivables (ST),1701000,1414000,1074000,1207000,1278000
13,Inventories,1910000,1955000,2001000,2217000,1957000
14,Other Current Assets,335000,302000,299000,440000,1030000
15,Total Current Assets,13685000,10239000,8761000,8097000,8734000
16,Gross Property Plant & Equip,7858000,5781000,5740000,5425000,4789000
17,Accumulated Depreciation,2717000,2512000,2437000,2242000,2125000
18,Net Property Plant & Equip,5141000,3269000,3303000,3183000,2664000
19,Long Term Investments,-,49000,300000,251000,268000
20,Intangible Assets,4447000,4636000,4771000,5079000,5418000
21,Deferred LT Assets,263000,343000,197000,295000,264000
22,Other Assets,1140000,815000,686000,232000,294000
23,Total Assets,24676000,19351000,18018000,17137000,17642000
24,Accounts Payable & Accrued Exps,1428000,1182000,1102000,1202000,1188000
25,Accounts Payable,653000,415000,388000,478000,466000
26,Accrued Expenses,775000,767000,714000,724000,722000
27,Current Debt,500000,550000,500000,749000,500000
28,Other Current Liabilities,641000,658000,521000,523000,570000
29,Total Current Liabilities,2569000,2390000,2123000,2474000,2258000

In [ ]:
df.drop(df.index[0:3], inplace=True)

<ipython-input-12-50176c5446eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.index[0:3], inplace=True)

In [ ]:
# removes the rows that have
df = df[~df['Unnamed: 0'].isin(['Currency', 'Audit Status', 'Consolidated'])]

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df = df.replace('-', 0)

In [ ]:
df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9
0,Standardized Annual Balance Sheet,0,0,0,0,0
1,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
2,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
3,Cash & Equivalents,4631000,3107000,2437000,2438000,1656000
4,Short Term Investments,5108000,3461000,2950000,1795000,2813000
5,Cash & Equivs & ST Investments,9739000,6568000,5387000,4233000,4469000
6,Receivables (ST),1701000,1414000,1074000,1207000,1278000
7,Inventories,1910000,1955000,2001000,2217000,1957000
8,Other Current Assets,335000,302000,299000,440000,1030000
9,Total Current Assets,13685000,10239000,8761000,8097000,8734000
10,Gross Property Plant & Equip,7858000,5781000,5740000,5425000,4789000
11,Accumulated Depreciation,2717000,2512000,2437000,2242000,2125000
12,Net Property Plant & Equip,5141000,3269000,3303000,3183000,2664000
13,Long Term Investments,0,49000,300000,251000,268000
14,Intangible Assets,4447000,4636000,4771000,5079000,5418000
15,Deferred LT Assets,263000,343000,197000,295000,264000
16,Other Assets,1140000,815000,686000,232000,294000
17,Total Assets,24676000,19351000,18018000,17137000,17642000
18,Accounts Payable & Accrued Exps,1428000,1182000,1102000,1202000,1188000
19,Accounts Payable,653000,415000,388000,478000,466000
20,Accrued Expenses,775000,767000,714000,724000,722000
21,Current Debt,500000,550000,500000,749000,500000
22,Other Current Liabilities,641000,658000,521000,523000,570000
23,Total Current Liabilities,2569000,2390000,2123000,2474000,2258000
24,LT Debt & Leases,7241000,6248000,5303000,4319000,3577000
25,Deferred LT Liabilities,87000,90000,78000,42000,78000
26,Minority Interests,0,0,0,0,0
27,Other Liabilities,1446000,1436000,1607000,1308000,1392000
28,Total Liabilities,11343000,10164000,9111000,8143000,7305000
29,Common Share Capital,1741000,1741000,1741000,1741000,1741000
30,Additional Paid-In Capital,2630000,2333000,2110000,1950000,1776000
31,Retained Earnings,45919000,42051000,39898000,37906000,34662000
32,Accum Other Comprehensive Income,-157000,-360000,-347000,-473000,-384000
33,Treasury Stock,36800000,36578000,34495000,32130000,27458000
34,Other Equity,0,0,0,0,0
35,Total Equity,13333000,9187000,8907000,8994000,10337000
36,Total Liabilities & Equity,24676000,19351000,18018000,17137000,17642000
37,Standardized Annual Income Statement,0,0,0,0,0
38,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
39,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
40,Total Revenue,18344000,14461000,14383000,15784000,14961000
41,Direct Costs,5968000,5192000,5219000,5507000,5347000
42,Gross Profit,12376000,9269000,9164000,10277000,9614000
43,Selling General & Admin,1666000,1623000,1645000,1684000,1694000
44,Research & Development,1554000,1530000,1544000,1559000,1508000
45,Restruct Remediation & Impair,142000,0,0,0,0
46,Other Operating Expense,54000,222000,252000,321000,329000
47,Total Indirect Operating Costs,3416000,3375000,3441000,3564000,3531000
48,Operating Income,8960000,5894000,5723000,6713000,6083000
49,Interest Income,-184000,-190000,-170000,-125000,-78000

In [ ]:
# Helper Function for finding index of string value in a column
def check_index(column,val):
    a = df.index[df[column].str.contains(val)]
    if a.empty:
        return 'not found'
    elif len(a) > 1:
        return a.tolist()
    else:
        #only one value - return scalar
        return a.item()

In [ ]:
new_path  = '/content/drive/MyDrive/TXN_new_2.xlsx'

In [ ]:
df.to_excel(new_path, index=False, engine='openpyxl')

In [ ]:
df1 = pd.read_excel(new_path)

In [ ]:
df1[99:150]

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9
99,Cash & Equivs & ST Investments %TA,39.467,33.941,29.898,24.701,25.332
100,Receivables (ST) %TA,6.893,7.307,5.961,7.043,7.244
101,Inventories %TA,7.74,10.103,11.106,12.937,11.093
102,Other Current Assets %TA,1.358,1.561,1.659,2.568,5.838
103,Total Current Assets %TA,55.459,52.912,48.624,47.249,49.507
104,Gross Property Plant & Equip %TA,31.845,29.874,31.857,31.657,27.145
105,Accumulated Depreciation %TA,11.011,12.981,13.525,13.083,12.045
106,Net Property Plant & Equip %TA,20.834,16.893,18.332,18.574,15.1
107,LT Investments %TA,0,0.253,1.665,1.465,1.519
108,Intangible Assets %TA,18.022,23.957,26.479,29.638,30.711
109,Deferred LT Assets %TA,1.066,1.773,1.093,1.721,1.496
110,Other Assets %TA,4.62,4.212,3.807,1.354,1.666
111,Total Assets as 100%,100,100,100,100,100
112,Accounts Payable & Accrued Exps %TA,5.787,6.108,6.116,7.014,6.734
113,Accounts Payable %TA,2.646,2.145,2.153,2.789,2.641
114,Accrued Expenses %TA,3.141,3.964,3.963,4.225,4.093
115,Current Debt %TA,2.026,2.842,2.775,4.371,2.834
116,Other Current Liabilities %TA,2.598,3.4,2.892,3.052,3.231
117,Total Current Liabilities %TA,10.411,12.351,11.783,14.437,12.799
118,LT Debt & Lease %TA,29.344,32.288,29.432,25.203,20.275
119,Deferred LT Liabilities %TA,0.353,0.465,0.433,0.245,0.442
120,Minority Interests %TA,0,0,0,0,0
121,Other Liabilities %TA,5.86,7.421,8.919,7.633,7.89
122,Total Liabilities %TA,45.968,52.524,50.566,47.517,41.407
123,Common Share Capital %TA,7.055,8.997,9.663,10.159,9.868
124,Additional Paid-In Capital %TA,10.658,12.056,11.711,11.379,10.067
125,Retained Earnings %TA,186.088,217.307,221.434,221.194,196.474
126,Accum Other Comprehens Income %TA,-0.636,-1.86,-1.926,-2.76,-2.177
127,Other Equity %TA,0,0,0,0,0
128,Total Equity %TA,54.032,47.476,49.434,52.483,58.593
129,Total Liabilities & Equity %TA,100,100,100,100,100
130,Standardized Annual CS Income Statement,0,0,0,0,0
131,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
132,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
133,Total Revenue (100% TR),100,100,100,100,100
134,Direct Costs %TR,32.534,35.903,36.286,34.89,35.74
135,Gross Profit %TR,67.466,64.097,63.714,65.11,64.26
136,Selling General & Admin %TR,9.082,11.223,11.437,10.669,11.323
137,Research & Development %TR,8.471,10.58,10.735,9.877,10.08
138,Restruct Remediation & Impair %TR,0.774,0,0,0,0
139,Other Operating Expense %TR,0.294,1.535,1.752,2.034,2.199
140,Total Indirect Operating Costs %TR,18.622,23.339,23.924,22.58,23.601
141,Operating Income %TR,48.844,40.758,39.79,42.53,40.659
142,Interest Income %TR,-1.003,-1.314,-1.182,-0.792,-0.521
143,Other Non-Operating Income %TR,0.78,2.164,1.217,0.621,0.501
144,Total Non-Operating Income %TR,-0.224,0.851,0.035,-0.171,-0.02
145,Earnings Before Tax %TR,48.621,41.608,39.825,42.359,40.639
146,Taxation %TR,6.269,2.918,4.943,7.007,16.028
147,Extraordinary Items %TR,0,0,0,0,0
148,Accounting Changes %TR,0,0,0,0,0
149,Net Income %TR,42.352,38.69,34.881,35.352,24.611

In [ ]:
SABS = check_index('Unnamed: 0','Standardized Annual Balance Sheet')
print(SABS)
TLE = check_index('Unnamed: 0','Total Liabilities & Equity')[0]
print(TLE)
SAIS = check_index('Unnamed: 0','Standardized Annual Income Statement')
print(SAIS)
SO = check_index('Unnamed: 0','Shares Outstanding')
print(SO)
SARE = check_index('Unnamed: 0','Standardized Annual Retained Earnings')
print(SARE)
NPPE = check_index('Unnamed: 0','Net Purch of Pty Plant & Equip')
print(NPPE)

0
36
37
65
66
93

In [ ]:

# Load the workbook
wb = openpyxl.load_workbook(new_path)

ws = wb['Sheet1']
# Rename the worksheet
ws.title = 'Main'

# Load the main sheet
main_sheet = wb['Main']

# # Create a new sheet
# balance_sheet = wb.create_sheet("Balance Sheet")

# Save the changes to the workbook
wb.save(new_path)

In [ ]:
# Load the workbook
wb = openpyxl.load_workbook(new_path)

# Load the main sheet
main_sheet = wb['Main']

# Create a new sheet
balance_sheet = wb.create_sheet("Balance Sheet")

# Copy data from main sheet to balance sheet
for i in range(SABS+3, TLE+3):
    for j in range(1, main_sheet.max_column+1):
        balance_sheet.cell(row=i-2, column=j).value = main_sheet.cell(row=i, column=j).value

# Save the changes to the workbook
wb.save(new_path)

In [ ]:
wb = openpyxl.load_workbook(new_path)

# Load the main sheet
main_sheet = wb['Main']

# Create a new sheet
Income_sheet = wb.create_sheet("Income Sheet")

# Copy data from main sheet to Income sheet
for i in range(SAIS+3, SO+3):
    for j in range(1, main_sheet.max_column+1):
        Income_sheet.cell(row=i-SAIS-2, column=j).value = main_sheet.cell(row=i, column=j).value

# Save the changes to the workbook
wb.save(new_path)

In [ ]:
wb = openpyxl.load_workbook(new_path)

# Load the main sheet
main_sheet = wb['Main']

# Create a new sheet
Retained_Earnings_sheet = wb.create_sheet("Retained Earnings Sheet")

# Copy data from main sheet to Retained Earnings sheet
for i in range(SARE+3, NPPE+3):
    for j in range(1, main_sheet.max_column+1):
        Retained_Earnings_sheet.cell(row=i-SARE-2, column=j).value = main_sheet.cell(row=i, column=j).value

# Save the changes to the workbook
wb.save(new_path)

In [ ]:
df_2 = pd.read_excel(new_path, sheet_name="Income Sheet")

In [ ]:
df_2.head()

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
1,Total Revenue,18344000,14461000,14383000,15784000,14961000
2,Direct Costs,5968000,5192000,5219000,5507000,5347000
3,Gross Profit,12376000,9269000,9164000,10277000,9614000
4,Selling General & Admin,1666000,1623000,1645000,1684000,1694000

In [ ]:
first_column = df_2.iloc[:, 0]
print(first_column)

0                              Scale
1                      Total Revenue
2                       Direct Costs
3                       Gross Profit
4            Selling General & Admin
5             Research & Development
6      Restruct Remediation & Impair
7            Other Operating Expense
8     Total Indirect Operating Costs
9                   Operating Income
10                   Interest Income
11        Other Non-Operating Income
12        Total Non-Operating Income
13               Earnings Before Tax
14                          Taxation
15               Extraordinary Items
16                Accounting Changes
17                        Net Income
18    Preference Dividends & Similar
19              Net Income to Common
20              Average Shares Basic
21                     EPS Net Basic
22              EPS Continuing Basic
23            Average Shares Diluted
24                   EPS Net Diluted
25            EPS Continuing Diluted
26                Shares Outstanding
Name: Report Date, dtype: object

In [ ]:
# df_2.set_index(first_column,inplace=True)

In [ ]:
df_2.head(5)

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
1,Total Revenue,18344000,14461000,14383000,15784000,14961000
2,Direct Costs,5968000,5192000,5219000,5507000,5347000
3,Gross Profit,12376000,9269000,9164000,10277000,9614000
4,Selling General & Admin,1666000,1623000,1645000,1684000,1694000

In [ ]:
df_3 = df_2.copy()

In [ ]:
df_3.drop(df_3.columns[0], axis = 1,inplace=True)

In [ ]:
for i in range(2, 20):
    df_3.iloc[i,:] = ((df_3.iloc[i,:] / df_3.iloc[1,:])*100)

In [ ]:
df_3 = df_3.replace(to_replace = "Thousands", value ="1000")
df_3 = df_3.astype(float)
df_3 = df_3.round(2)

In [ ]:
frames = [df_2,df_3]
resultside = pd.concat(frames, axis=1)

#resultbelow = pd.concat(frames, axis=0)

In [ ]:
resultside

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands,1000.00,1000.00,1000.00,1000.00,1000.00
1,Total Revenue,18344000,14461000,14383000,15784000,14961000,18344000.00,14461000.00,14383000.00,15784000.00,14961000.00
2,Direct Costs,5968000,5192000,5219000,5507000,5347000,32.53,35.90,36.29,34.89,35.74
3,Gross Profit,12376000,9269000,9164000,10277000,9614000,67.47,64.10,63.71,65.11,64.26
4,Selling General & Admin,1666000,1623000,1645000,1684000,1694000,9.08,11.22,11.44,10.67,11.32
5,Research & Development,1554000,1530000,1544000,1559000,1508000,8.47,10.58,10.73,9.88,10.08
6,Restruct Remediation & Impair,142000,0,0,0,0,0.77,0.00,0.00,0.00,0.00
7,Other Operating Expense,54000,222000,252000,321000,329000,0.29,1.54,1.75,2.03,2.20
8,Total Indirect Operating Costs,3416000,3375000,3441000,3564000,3531000,18.62,23.34,23.92,22.58,23.60
9,Operating Income,8960000,5894000,5723000,6713000,6083000,48.84,40.76,39.79,42.53,40.66
10,Interest Income,-184000,-190000,-170000,-125000,-78000,-1.00,-1.31,-1.18,-0.79,-0.52
11,Other Non-Operating Income,143000,313000,175000,98000,75000,0.78,2.16,1.22,0.62,0.50
12,Total Non-Operating Income,-41000,123000,5000,-27000,-3000,-0.22,0.85,0.03,-0.17,-0.02
13,Earnings Before Tax,8919000,6017000,5728000,6686000,6080000,48.62,41.61,39.82,42.36,40.64
14,Taxation,1150000,422000,711000,1106000,2398000,6.27,2.92,4.94,7.01,16.03
15,Extraordinary Items,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
16,Accounting Changes,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
17,Net Income,7769000,5595000,5017000,5580000,3682000,42.35,38.69,34.88,35.35,24.61
18,Preference Dividends & Similar,-33000,-27000,-32000,-43000,-34000,-0.18,-0.19,-0.22,-0.27,-0.23
19,Net Income to Common,7736000,5568000,4985000,5537000,3648000,42.17,38.50,34.66,35.08,24.38
20,Average Shares Basic,923000,921000,936000,970000,991000,923000.00,921000.00,936000.00,970000.00,991000.00
21,EPS Net Basic,8.38,6.05,5.33,5.71,3.68,8.38,6.05,5.33,5.71,3.68
22,EPS Continuing Basic,8.38,6.05,5.33,5.71,3.68,8.38,6.05,5.33,5.71,3.68
23,Average Shares Diluted,936000,933000,952000,990000,1012000,936000.00,933000.00,952000.00,990000.00,1012000.00
24,EPS Net Diluted,8.26,5.97,5.24,5.59,3.61,8.26,5.97,5.24,5.59,3.61
25,EPS Continuing Diluted,8.26,5.97,5.24,5.59,3.61,8.26,5.97,5.24,5.59,3.61
26,Shares Outstanding,924000,919354.152,932031.558,945150.293,983158.722,924000.00,919354.15,932031.56,945150.29,983158.72

In [ ]:
writer = pd.ExcelWriter(new_path, engine='openpyxl', mode='a')
resultside.to_excel(writer, index=False, sheet_name='Income statement')
writer.save()

<ipython-input-38-d82f76447a74>:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
df_4 = pd.read_excel(new_path, sheet_name="Balance Sheet")

In [ ]:
df_4

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
1,Cash & Equivalents,4631000,3107000,2437000,2438000,1656000
2,Short Term Investments,5108000,3461000,2950000,1795000,2813000
3,Cash & Equivs & ST Investments,9739000,6568000,5387000,4233000,4469000
4,Receivables (ST),1701000,1414000,1074000,1207000,1278000
5,Inventories,1910000,1955000,2001000,2217000,1957000
6,Other Current Assets,335000,302000,299000,440000,1030000
7,Total Current Assets,13685000,10239000,8761000,8097000,8734000
8,Gross Property Plant & Equip,7858000,5781000,5740000,5425000,4789000
9,Accumulated Depreciation,2717000,2512000,2437000,2242000,2125000
10,Net Property Plant & Equip,5141000,3269000,3303000,3183000,2664000
11,Long Term Investments,0,49000,300000,251000,268000
12,Intangible Assets,4447000,4636000,4771000,5079000,5418000
13,Deferred LT Assets,263000,343000,197000,295000,264000
14,Other Assets,1140000,815000,686000,232000,294000
15,Total Assets,24676000,19351000,18018000,17137000,17642000
16,Accounts Payable & Accrued Exps,1428000,1182000,1102000,1202000,1188000
17,Accounts Payable,653000,415000,388000,478000,466000
18,Accrued Expenses,775000,767000,714000,724000,722000
19,Current Debt,500000,550000,500000,749000,500000
20,Other Current Liabilities,641000,658000,521000,523000,570000
21,Total Current Liabilities,2569000,2390000,2123000,2474000,2258000
22,LT Debt & Leases,7241000,6248000,5303000,4319000,3577000
23,Deferred LT Liabilities,87000,90000,78000,42000,78000
24,Minority Interests,0,0,0,0,0
25,Other Liabilities,1446000,1436000,1607000,1308000,1392000
26,Total Liabilities,11343000,10164000,9111000,8143000,7305000
27,Common Share Capital,1741000,1741000,1741000,1741000,1741000
28,Additional Paid-In Capital,2630000,2333000,2110000,1950000,1776000
29,Retained Earnings,45919000,42051000,39898000,37906000,34662000
30,Accum Other Comprehensive Income,-157000,-360000,-347000,-473000,-384000
31,Treasury Stock,36800000,36578000,34495000,32130000,27458000
32,Other Equity,0,0,0,0,0
33,Total Equity,13333000,9187000,8907000,8994000,10337000
34,Total Liabilities & Equity,24676000,19351000,18018000,17137000,17642000

In [ ]:
v = df_4.T

In [ ]:
v.insert(loc=1, column="1", value=df_2.iloc[1, :])

In [ ]:
c = v.T

In [ ]:
c

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands
1,Total Revenue,18344000,14461000,14383000,15784000,14961000
1,Cash & Equivalents,4631000,3107000,2437000,2438000,1656000
2,Short Term Investments,5108000,3461000,2950000,1795000,2813000
3,Cash & Equivs & ST Investments,9739000,6568000,5387000,4233000,4469000
4,Receivables (ST),1701000,1414000,1074000,1207000,1278000
5,Inventories,1910000,1955000,2001000,2217000,1957000
6,Other Current Assets,335000,302000,299000,440000,1030000
7,Total Current Assets,13685000,10239000,8761000,8097000,8734000
8,Gross Property Plant & Equip,7858000,5781000,5740000,5425000,4789000
9,Accumulated Depreciation,2717000,2512000,2437000,2242000,2125000
10,Net Property Plant & Equip,5141000,3269000,3303000,3183000,2664000
11,Long Term Investments,0,49000,300000,251000,268000
12,Intangible Assets,4447000,4636000,4771000,5079000,5418000
13,Deferred LT Assets,263000,343000,197000,295000,264000
14,Other Assets,1140000,815000,686000,232000,294000
15,Total Assets,24676000,19351000,18018000,17137000,17642000
16,Accounts Payable & Accrued Exps,1428000,1182000,1102000,1202000,1188000
17,Accounts Payable,653000,415000,388000,478000,466000
18,Accrued Expenses,775000,767000,714000,724000,722000
19,Current Debt,500000,550000,500000,749000,500000
20,Other Current Liabilities,641000,658000,521000,523000,570000
21,Total Current Liabilities,2569000,2390000,2123000,2474000,2258000
22,LT Debt & Leases,7241000,6248000,5303000,4319000,3577000
23,Deferred LT Liabilities,87000,90000,78000,42000,78000
24,Minority Interests,0,0,0,0,0
25,Other Liabilities,1446000,1436000,1607000,1308000,1392000
26,Total Liabilities,11343000,10164000,9111000,8143000,7305000
27,Common Share Capital,1741000,1741000,1741000,1741000,1741000
28,Additional Paid-In Capital,2630000,2333000,2110000,1950000,1776000
29,Retained Earnings,45919000,42051000,39898000,37906000,34662000
30,Accum Other Comprehensive Income,-157000,-360000,-347000,-473000,-384000
31,Treasury Stock,36800000,36578000,34495000,32130000,27458000
32,Other Equity,0,0,0,0,0
33,Total Equity,13333000,9187000,8907000,8994000,10337000
34,Total Liabilities & Equity,24676000,19351000,18018000,17137000,17642000

In [ ]:
df_4 = c.copy()

In [ ]:
df_5 = df_4.copy()

In [ ]:
df_5.drop(df_5.columns[0], axis = 1,inplace=True)

In [ ]:
df_5

   12/31/2021 12/31/2020 12/31/2019 12/31/2018 12/31/2017
0   Thousands  Thousands  Thousands  Thousands  Thousands
1    18344000   14461000   14383000   15784000   14961000
1     4631000    3107000    2437000    2438000    1656000
2     5108000    3461000    2950000    1795000    2813000
3     9739000    6568000    5387000    4233000    4469000
4     1701000    1414000    1074000    1207000    1278000
5     1910000    1955000    2001000    2217000    1957000
6      335000     302000     299000     440000    1030000
7    13685000   10239000    8761000    8097000    8734000
8     7858000    5781000    5740000    5425000    4789000
9     2717000    2512000    2437000    2242000    2125000
10    5141000    3269000    3303000    3183000    2664000
11          0      49000     300000     251000     268000
12    4447000    4636000    4771000    5079000    5418000
13     263000     343000     197000     295000     264000
14    1140000     815000     686000     232000     294000
15   24676000   19351000   18018000   17137000   17642000
16    1428000    1182000    1102000    1202000    1188000
17     653000     415000     388000     478000     466000
18     775000     767000     714000     724000     722000
19     500000     550000     500000     749000     500000
20     641000     658000     521000     523000     570000
21    2569000    2390000    2123000    2474000    2258000
22    7241000    6248000    5303000    4319000    3577000
23      87000      90000      78000      42000      78000
24          0          0          0          0          0
25    1446000    1436000    1607000    1308000    1392000
26   11343000   10164000    9111000    8143000    7305000
27    1741000    1741000    1741000    1741000    1741000
28    2630000    2333000    2110000    1950000    1776000
29   45919000   42051000   39898000   37906000   34662000
30    -157000    -360000    -347000    -473000    -384000
31   36800000   36578000   34495000   32130000   27458000
32          0          0          0          0          0
33   13333000    9187000    8907000    8994000   10337000
34   24676000   19351000   18018000   17137000   17642000

In [ ]:
for i in range(2, 36):
    df_5.iloc[i,:] = ((df_5.iloc[i,:] / df_5.iloc[1,:])*100)

In [ ]:
df_5 = df_5.replace(to_replace = "Thousands", value ="1000")
df_5 = df_5.astype(float)
df_5 = df_5.round(2)

In [ ]:
df_5

     12/31/2021   12/31/2020   12/31/2019   12/31/2018   12/31/2017
0       1000.00      1000.00      1000.00      1000.00      1000.00
1   18344000.00  14461000.00  14383000.00  15784000.00  14961000.00
1         25.25        21.49        16.94        15.45        11.07
2         27.85        23.93        20.51        11.37        18.80
3         53.09        45.42        37.45        26.82        29.87
4          9.27         9.78         7.47         7.65         8.54
5         10.41        13.52        13.91        14.05        13.08
6          1.83         2.09         2.08         2.79         6.88
7         74.60        70.80        60.91        51.30        58.38
8         42.84        39.98        39.91        34.37        32.01
9         14.81        17.37        16.94        14.20        14.20
10        28.03        22.61        22.96        20.17        17.81
11         0.00         0.34         2.09         1.59         1.79
12        24.24        32.06        33.17        32.18        36.21
13         1.43         2.37         1.37         1.87         1.76
14         6.21         5.64         4.77         1.47         1.97
15       134.52       133.82       125.27       108.57       117.92
16         7.78         8.17         7.66         7.62         7.94
17         3.56         2.87         2.70         3.03         3.11
18         4.22         5.30         4.96         4.59         4.83
19         2.73         3.80         3.48         4.75         3.34
20         3.49         4.55         3.62         3.31         3.81
21        14.00        16.53        14.76        15.67        15.09
22        39.47        43.21        36.87        27.36        23.91
23         0.47         0.62         0.54         0.27         0.52
24         0.00         0.00         0.00         0.00         0.00
25         7.88         9.93        11.17         8.29         9.30
26        61.83        70.29        63.35        51.59        48.83
27         9.49        12.04        12.10        11.03        11.64
28        14.34        16.13        14.67        12.35        11.87
29       250.32       290.79       277.40       240.15       231.68
30        -0.86        -2.49        -2.41        -3.00        -2.57
31       200.61       252.94       239.83       203.56       183.53
32         0.00         0.00         0.00         0.00         0.00
33        72.68        63.53        61.93        56.98        69.09
34       134.52       133.82       125.27       108.57       117.92

In [ ]:
f = [df_4,df_5]
r = pd.concat(f, axis=1)

In [ ]:
r

,Report Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017
0,Scale,Thousands,Thousands,Thousands,Thousands,Thousands,1000.00,1000.00,1000.00,1000.00,1000.00
1,Total Revenue,18344000,14461000,14383000,15784000,14961000,18344000.00,14461000.00,14383000.00,15784000.00,14961000.00
1,Cash & Equivalents,4631000,3107000,2437000,2438000,1656000,25.25,21.49,16.94,15.45,11.07
2,Short Term Investments,5108000,3461000,2950000,1795000,2813000,27.85,23.93,20.51,11.37,18.80
3,Cash & Equivs & ST Investments,9739000,6568000,5387000,4233000,4469000,53.09,45.42,37.45,26.82,29.87
4,Receivables (ST),1701000,1414000,1074000,1207000,1278000,9.27,9.78,7.47,7.65,8.54
5,Inventories,1910000,1955000,2001000,2217000,1957000,10.41,13.52,13.91,14.05,13.08
6,Other Current Assets,335000,302000,299000,440000,1030000,1.83,2.09,2.08,2.79,6.88
7,Total Current Assets,13685000,10239000,8761000,8097000,8734000,74.60,70.80,60.91,51.30,58.38
8,Gross Property Plant & Equip,7858000,5781000,5740000,5425000,4789000,42.84,39.98,39.91,34.37,32.01
9,Accumulated Depreciation,2717000,2512000,2437000,2242000,2125000,14.81,17.37,16.94,14.20,14.20
10,Net Property Plant & Equip,5141000,3269000,3303000,3183000,2664000,28.03,22.61,22.96,20.17,17.81
11,Long Term Investments,0,49000,300000,251000,268000,0.00,0.34,2.09,1.59,1.79
12,Intangible Assets,4447000,4636000,4771000,5079000,5418000,24.24,32.06,33.17,32.18,36.21
13,Deferred LT Assets,263000,343000,197000,295000,264000,1.43,2.37,1.37,1.87,1.76
14,Other Assets,1140000,815000,686000,232000,294000,6.21,5.64,4.77,1.47,1.97
15,Total Assets,24676000,19351000,18018000,17137000,17642000,134.52,133.82,125.27,108.57,117.92
16,Accounts Payable & Accrued Exps,1428000,1182000,1102000,1202000,1188000,7.78,8.17,7.66,7.62,7.94
17,Accounts Payable,653000,415000,388000,478000,466000,3.56,2.87,2.70,3.03,3.11
18,Accrued Expenses,775000,767000,714000,724000,722000,4.22,5.30,4.96,4.59,4.83
19,Current Debt,500000,550000,500000,749000,500000,2.73,3.80,3.48,4.75,3.34
20,Other Current Liabilities,641000,658000,521000,523000,570000,3.49,4.55,3.62,3.31,3.81
21,Total Current Liabilities,2569000,2390000,2123000,2474000,2258000,14.00,16.53,14.76,15.67,15.09
22,LT Debt & Leases,7241000,6248000,5303000,4319000,3577000,39.47,43.21,36.87,27.36,23.91
23,Deferred LT Liabilities,87000,90000,78000,42000,78000,0.47,0.62,0.54,0.27,0.52
24,Minority Interests,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
25,Other Liabilities,1446000,1436000,1607000,1308000,1392000,7.88,9.93,11.17,8.29,9.30
26,Total Liabilities,11343000,10164000,9111000,8143000,7305000,61.83,70.29,63.35,51.59,48.83
27,Common Share Capital,1741000,1741000,1741000,1741000,1741000,9.49,12.04,12.10,11.03,11.64
28,Additional Paid-In Capital,2630000,2333000,2110000,1950000,1776000,14.34,16.13,14.67,12.35,11.87
29,Retained Earnings,45919000,42051000,39898000,37906000,34662000,250.32,290.79,277.40,240.15,231.68
30,Accum Other Comprehensive Income,-157000,-360000,-347000,-473000,-384000,-0.86,-2.49,-2.41,-3.00,-2.57
31,Treasury Stock,36800000,36578000,34495000,32130000,27458000,200.61,252.94,239.83,203.56,183.53
32,Other Equity,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
33,Total Equity,13333000,9187000,8907000,8994000,10337000,72.68,63.53,61.93,56.98,69.09
34,Total Liabilities & Equity,24676000,19351000,18018000,17137000,17642000,134.52,133.82,125.27,108.57,117.92

In [ ]:
writer = pd.ExcelWriter(new_path, engine='openpyxl', mode='a')
r.to_excel(writer, index=False, sheet_name='Balance statement')
writer.save()

<ipython-input-54-d008d7619b18>:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()